// group.scss
// Styling for the superdesk group module
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';


/*     ============================
        GROUP CONFIG
    ============================ */

/* Group create/edit popup */

.member-list {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        > li {
            position: relative;            
            margin: 5px;
            border: 1px solid rgba(0,0,0,0);
            @include border-radius(3px);
            padding: 15px 10px;
            width: 115px;
            .avatar {
                display: block;
                width: 84px;
                height: 84px;
                float: none;
                margin: 0 auto 10px;
                &.initials {
                    font-size: 34px;
                    line-height: 84px;
                }
            }
            .name {
                text-align: center;
            }
            i {
                position: absolute;
                right: 10px; top: 10px;
                display: none;
                @include opacity(60);
                &:hover {
                    @include opacity(100);
                    cursor: pointer;
                }
            }
            &:hover {
                i {
                    display: block;
                }
                border-color: rgba(0,0,0,0.12);
                @include box-shadow(0 1px 3px 0 rgba(0,0,0,10%));
            }
            &.inactive {
                color: #ccc;
            }
        }
    }
}